.markdown-source-view.mod-cm6 .internal-embed>img,
.markdown-source-view.mod-cm6 .cm-content>img,
.markdown-preview-view img,
.markdown-rendered img {
    box-shadow: 0 28px 8px -26px rgba(0, 0, 0);
    border: 1px solid #ccc;
    margin: 0.25rem 0.25rem 0.75rem 0.25rem;
}